@use "sass:math";

@function percentage($partialValue, $totalValue) {
    @return math.percentage(math.div($partialValue, $totalValue));
}

.app {
    height: 100vh;
    overflow-y: scroll;
    background: url('../../assets/hero_bg.jpg') center / cover no-repeat;
}

.content {
    display: grid;
    grid-template-columns: percentage(560px, 1040px) 1fr;
    @media only screen and (max-width: 991px) {
        grid-template-columns: 1fr;
        gap: 0;
    }  
    // grid-template-columns: 560px 440px;
    gap: 40px;
    max-width: 100%;
    width: 1040px;
    margin: 0 auto;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}